{%extends "base.html"%}
{%block title%} post_comment {%endblock%}
{%block content%}

<h1 class="title">{{title}}</h1>
<h1 class="title">Leave Comment</h1>

<form action="" method="post" name="comment_edit">


    <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
            <input style="width:60%" type="text" name="title" class="input" required="required"/>
        </div>
    </div>

    <div class="field">
        <label for="title" class="label">Comment</label>
        <div class="control">
            <textarea style="height:250px; width:60%" type="text" name="content" class="input"
                      required="required"></textarea>
        </div>
    </div>


    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-small">Save</button>
        </div>
    </div>
</form>

{%endblock%}