{%extends "signup_base.html"%}
{%block type%}
    <h1 class="title">Signup Page for User</h1>
    {% if message == "True"%}
        <h2 class="title" style="color: green;">Your registration is completed. </h2>
    {% elif message == "False" %}
        <h2 class="title" style="color: red;"> Mail or username is registered  !! </h2>
    {% endif %}

{%endblock%}
{%block question%}
    <div class="field is-grouped">
        <div class="control">
             <button class="button is-success">Save</button>
        </div>
    </div>
{%endblock%}